{{ tsl_license }}
{{ tsl_file_doxygen }}

{% if preliminary_defines is defined %}
{% for preliminary_define in preliminary_defines %}
{{preliminary_define}}
{% endfor %}
{% endif %}

{% for include in includes %}
#include {{ include }}
{% endfor %}
{% for code in codes %}
   {{ code }}
{% endfor %}
