/**/__pycache__/
/**/.idea/
/.vscode

tslgen.zip

*.log
tslgen.log
tslgen.log.*

/build


lib/

log

tsl/

generator/config/generator/tsl_templates/core/.twing/
generator/config/generator/tsl_templates/expansions/.twing/

supplementary/*/*.o
supplementary/*/*.a
