/**/__pycache__/
/**/.idea/
/.vscode

tvlgen.zip

*.log
tvlgen.log
tvlgen.log.*

/build


lib/

log

tvl/

generator/config/generator/tvl_templates/core/.twing/

generator/config/generator/tvl_templates/expansions/.twing/
