/**/__pycache__/
/**/.idea/
/.vscode

tslgen.zip

*.log
tslgen.log
tslgen.log.*

/build
generator_output/


lib/

log

tsl/

generator/config/generator/tsl_templates/core/.twing/
generator/config/generator/tsl_templates/expansions/.twing/

supplementary/*/*.o
supplementary/*/*.a

.venv/

doc/www/

class_graph.dot