   /*
    * @brief {{ brief_description }}
    * @details {{ detailed_description }}
    {% for param in parameters %}
    * @param {{ param['name'] }} {{ param['description'] }}
    {% endfor %}
    {% if returns['ctype'] != 'void' %}
    * @return {{ returns['description'] }}
    {% endif %}
    */